@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,600;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #F9A826;
    --secondary-color: black;
    --dark-gray: #71717a;
    --green-color: green;
    --off-white: #f4f4f5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list-nobullet {
    list-style: none;
    padding-inline-start: 0;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation begins */

.header {
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

.nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 350ms ease-in-out;
    transform-origin: top;
}

.header .logo {
    margin: 0;
    padding: 1rem;
}

.nav .list-non-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav .list-padding {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav .list-non-bullet .normal-text-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav .normal-text-link:hover {
    color: var(--green-color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav .normal-text-link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: var(--secondary-color);
    height: 2px;
    width: 2em;
    position: relative;
    border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.header .logo-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.header .nav .list-padding .link-active {
    color: var(--green-color);
    font-weight: bold;
}

.header .logo .logo-link:hover {
    color: beige;
}

@media screen and (min-width: 800px) {

    .nav-toggle-label {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 0.5fr auto minmax(500px, 3fr) 1fr;
        width: 100%;
    }

    .logo {
        grid-column: 2 / 3;
    }

    .nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav .list {
        display: flex;
    }

    .nav .list-padding {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .nav .list-non-bullet .normal-text-link {
        opacity: 1;
        position: relative;
    }

    .nav .list-non-bullet .normal-text-link::before {
        content: "";
        display: block;
        background-color: var(--green-color);
        height: 3px;
        position: absolute;
        bottom: -0.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: center;
        transition: transform ease 250ms;
    }

    .nav .list-non-bullet .normal-text-link:hover::before {
        transform: scale(1, 1);
    }
}
/* Navigation ends */

/* Blog Heading */

.blog-header {
    padding: 4rem;
    padding-bottom: 1rem;
    text-align: center;
}

.blog-header .blog-heading {
    color: var(--dark-gray);
    margin: 0;
    font-size: 2rem;
}

.blog-header .blog-heading-focus {
    color: var(--primary-color);
}

.article {
    max-width: 60%;
    text-align: justify;
    margin: auto;
}

.article .blog-main-heading {
    text-align: center;
    font-size: 1.7rem;
    margin: 0.5rem;
    color: var(--green-color);
}

.article section{
    font-size: 1.1rem;
}

.article p{
    line-height: 1.6rem;
}

.article section figure{
    text-align: center;
}

.intro-blog{
    margin-top: 0;
}

.article section ol li{
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 0.45em;
}

.article section ol li::marker{
    font-weight: bold;
}

.article section ol li div{
    text-align: center;
    padding: 1rem;
}

/* Image of blogs */

.article section figure{
    margin: 0;
}

.article section figure .img-universal-selector{
    padding: 1rem;
    width: 30rem;
}

.article section figure .img-blog-typeselector-1{
    padding: 1rem;
    height: 20rem;
}

.article section figure .img-blog-typeselector-2{
    padding: 1rem;
    width: 30rem;
}

.article section figure .img-blog-typeselector-3{
    padding: 1rem;
    height: 20rem;
}

.article section figure .img-blog-class-id-selector-1, .article section figure .img-blog-class-id-selector-2{
    padding: 1rem;
    height: 25rem;
}

.article section figure .img-blog-class-id-selector-3{
    padding: 1rem;
    width: 28rem;
}

.article section ol li div .img-blog-attribute-1{
    padding: 1rem;
    width: 28rem;
}

.article section ol li div .img-blog-attribute-2{
    padding: 1rem;
    height: 23rem;
}

.article section ol li div .img-blog-attribute-3{
    padding: 1rem;
    height: 20rem;
}

.article section ol li div .img-blog-attribute-4{
    padding: 1rem;
    height: 18.5rem;
}

.article section ol li div .img-blog-attribute-5{
    padding: 1rem;
    width: 30rem;
}

.article section ol li div .img-blog-attribute-6{
    padding: 1rem;
    width: 31rem;
}

.article section ol li div .img-blog-attribute-7{
    padding: 1rem;
    height: 16rem;
}

.article section ol li div .img-blog-attribute-8{
    padding: 1rem;
    height: 16rem;
}

.article section ol li div .img-blog-attribute-9{
    padding: 1rem;
    height: 16rem;
}

.article .last{
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.article .last .link-last{
    text-decoration: none;
    font-weight: 600;
}

.article .last .link-last:hover{
    font-weight: 800;
    color: var(--green-color);
}

/* Footer css */

.footer {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: 600;
}

.footer .link {
    color: var(--secondary-color);
}

.footer ul {
    padding-inline-start: 0px;
}

::selection {
    background: #eddf95;
    color: #000;
}