@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --primary-color: #F9A826;
    --secondary-color: black;
    --dark-gray: #71717a;
    --green-color: green;
    --off-white: #f4f4f5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    font-weight: 600;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    border-radius: 00.5rem;
}

.list-nobullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.btn {
    text-decoration: none;
    padding: 0.75rem 1rem;
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Button-1 */

.btn-1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 30px;
    transition: transform 300ms ease;
}

.btn-1::after,
.btn-1::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-1:hover {
    transform: translate(-6px, 0);
}

.btn-1:hover::after {
    transform: translate(-12px, -6px);
}

.btn-1:hover::before {
    transform: translate(12px, 6px);
}

/* Button-2 */

.btn-2 {
    color: var(--secondary-color);
}

.btn-2::after,
.btn-2::before {
    border: 2px solid var(--primary-color);
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-2:hover::after {
    transform: translate(-5px, -5px);
}

.btn-2:hover::before {
    transform: translate(5px, 5px);
}

/* Button-3 */

.div-inline {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.btn-3 {
    color: var(--secondary-color);
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(249, 168, 38, 0.5), 0 0 0 0 rgba(0, 128, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-3::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: var(--primary-color);
    /*Fallback font*/
    background-image: linear-gradient(225deg,
            #f9a826 0%,
            #c1f926 65%,
            #008000 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(249, 168, 38, 0.5), -10px 10px 25px 0 rgba(0, 128, 0, 0.5);
}

.btn-3:hover::after {
    transform: rotate(150deg);
}

/* Navigation */

.header {
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

.nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 350ms ease-in-out;
    transform-origin: top;
}

.header .logo {
    margin: 0;
    padding: 1rem;
}

.nav .list-non-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav .list-padding {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav .list-non-bullet .normal-text-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav .normal-text-link:hover {
    color: var(--green-color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav .normal-text-link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: var(--secondary-color);
    height: 2px;
    width: 2em;
    position: relative;
    border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.header .logo-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.header .nav .list-padding .link-active {
    color: var(--green-color);
    font-weight: bold;
}

.header .logo .logo-link:hover {
    color: beige;
}

@media screen and (min-width: 800px) {

    .nav-toggle-label {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 0.5fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    .nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav .list {
        display: flex;
    }

    .nav .list-padding {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .nav .list-non-bullet .normal-text-link {
        opacity: 1;
        position: relative;
    }

    .nav .list-non-bullet .normal-text-link::before {
        content: "";
        display: block;
        background-color: var(--green-color);
        height: 3px;
        position: absolute;
        bottom: -0.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: center;
        transition: transform ease 250ms;
    }

    .nav .list-non-bullet .normal-text-link:hover::before {
        transform: scale(1, 1);
    }
}

/* Navigation ends */

/* Header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero__img {
    max-width: 500px;
    display: block;
    margin: auto;
}

.hero .hero__heading {
    padding-top: 1.5rem;
    color: var(--dark-gray);
    text-align: center;
}

.hero .hero-heading-focus {
    color: var(--primary-color);
}

.hero .hero-heading-focus2 {
    color: var(--green-color);
}

/* sections */

.section {
    padding: 2rem;
    text-align: center;
}

.section .container p{
    text-align: justify;
    text-align-last: center;
}

.section-ow {
    background-color: var(--off-white);
}

.section .container .section--img{
    width: 30px;
    height: 30px;
    vertical-align: -4px;
    margin-right: 10px;
}

.section .container .section--img2{
    width: 40px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.section .container .section--img3{
    width: 30px;
    height: 30px;
    vertical-align: baseline;
    margin-right: 10px;
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    font-weight: 600;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: var(--secondary-color);
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .link:hover {
    color: var(--green-color);
}